<!DOCTYPE html>
<html>
  <head>
    <title>secrets</title>
  </head>
  <body>
    <h1>You logined sucessfully.</h1>
     <button onclick="home()">Home</button>
     <script>
     function home() {
        fetch('/home', {method: 'POST'})
          window.location.href = '/home';
          }
     </script>
     <button onclick="logout()">Logout</button>
     <script>
     function logout() {
      fetch('/logout', {method: 'POST'})
	window.location.href = '/login';
	}
  </script>
  </body>
</html>
